---
title: "Kinematic Analysis"
author: "Ali Zaidi"
date: "2025-11-15"
categories: [Data Visualization]
description: "Now that we have our labeled clips, lets run some preliminary analysis over each of their keypoints and see what we can extract"
format:
  html:
    code-fold: true
jupyter: python3
---

In [3]:
from fastai.vision.all import *
from swing_data import *

In [22]:
base_path = '../../../data/full_videos'
swing_days = ['jun8', 'aug9', 'sep14']
parent_dir = f'{base_path}/{swing_days[-1]}'
parent_dir

'../../../data/full_videos/sep14'

In [16]:
files_names = [file.name.split('.')[0] for file in get_files(f'{base_path}/{swing_days[-1]}', extensions='.MOV') ]
print(files_names)

['IMG_1090', 'IMG_1087', 'IMG_1088', 'IMG_1092', 'IMG_1086', 'IMG_1093', 'IMG_1091', 'IMG_1089']

In [75]:
kp_folder_paths_dict = {fname: f'{parent_dir}/{fname}/keypoints' for fname in files_names}
kp_folder_paths_dict

{'IMG_1090': '../../../data/full_videos/sep14/IMG_1090/keypoints',
 'IMG_1087': '../../../data/full_videos/sep14/IMG_1087/keypoints',
 'IMG_1088': '../../../data/full_videos/sep14/IMG_1088/keypoints',
 'IMG_1092': '../../../data/full_videos/sep14/IMG_1092/keypoints',
 'IMG_1086': '../../../data/full_videos/sep14/IMG_1086/keypoints',
 'IMG_1093': '../../../data/full_videos/sep14/IMG_1093/keypoints',
 'IMG_1091': '../../../data/full_videos/sep14/IMG_1091/keypoints',
 'IMG_1089': '../../../data/full_videos/sep14/IMG_1089/keypoints'}

In [76]:
def get_kps(folder):
    all_files = get_files(folder, extensions='.pkl')
    clip_files = [file for file in all_files if file.name[:3] == 'IMG']
    return clip_files

In [77]:
[len(get_kps(folder_path)) for folder_path in kp_folder_paths_dict.values()]

[6, 5, 5, 6, 5, 7, 6, 7]

In [2]:
IMG_1086 = [2, 1, 1, 5, 5] #5
IMG_1087 = [4, 5, 2, 1, 2] # 5
IMG_1088 = [1, 1, 3, 3, 2] # 5
IMG_1089 = [4, 3, 3, 4, 3, 4, 3] #7
IMG_1090 = [4, 1, 4, 1, 1, 1] #6
IMG_1091 = ['**', 2, 2, 5, 2, 4, 1] #6 - 7 w/practice --> start 30 seconds in
### *** â€”> practice swing w/o score
IMG_1092 = [4, 1, 4, 1, 1, 1,] # 6
IMG_1093 = [1, 3, 1, 2, 1, '**', 2] # 6 - 7 w/practice --> just drop second to last clip

In [59]:
sorted_fnames = sorted(list(kp_folder_paths_dict.keys()))
print(sorted_fnames)

['IMG_1086', 'IMG_1087', 'IMG_1088', 'IMG_1089', 'IMG_1090', 'IMG_1091', 'IMG_1092', 'IMG_1093']

In [64]:
kp_folder_paths_dict = [get_kps(f'{parent_dir}/{fname}/keypoints').__len__() for fname in sorted_fnames]
kp_folder_paths_dict

[5, 5, 5, 7, 6, 6, 6, 7]

In [67]:
import pandas as pd
df = pd.read_csv(f'{parent_dir}/IMG_1091/IMG_1091.csv')
df

   swing_idx  start_idx  end_idx
0          0       1393     1573
1          1       4010     4190
2          2       5951     6131
3          3       8380     8560
4          4      10040    10220
5          5      12562    12742

In [69]:
df.start_idx//60

0     23
1     66
2     99
3    139
4    167
5    209
Name: start_idx, dtype: int64

In [70]:
df = pd.read_csv(f'{parent_dir}/IMG_1093/IMG_1093.csv')
df

   swing_idx  start_idx  end_idx
0          0       1585     1765
1          1       3123     3303
2          2       4856     5036
3          3       6091     6271
4          4       8090     8270
5          5       9228     9408
6          6      10320    10500

In [73]:
df.start_idx//60

0     26
1     52
2     80
3    101
4    134
5    153
6    172
Name: start_idx, dtype: int64